CONFIG_REPO_URL=https://github.com/KDSCRIPT/Unavu.git
CONFIG_REPO_USERNAME=KDSCRIPT
CONFIG_REPO_PASSWORD=github_pat_XXXXXXX
ENCRYPTION_KEY=45D81EC1EF61DF9AD8D3E5BB397F9
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
KEYCLOAK_CLIENT_SECRET=XXXXXXX
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/unavu
JWK_SET_URI=http://keycloak:8080/realms/unavu/protocol/openid-connect/certs
KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_REALM=unavu
KEYCLOAK_CLIENT_ID=unavu-admin-client
PROFILE_ACTIVE=dev
MAILTRAP_USERNAME=XXXXXXX
MAILTRAP_PASSWORD=XXXXXXX
KAFKA_HOSTNAME=kafka